@font-face {
  font-family: "8bitoperator JVE Regular";
  src: url("/media/fonts/8bitoperator_jve.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  size-adjust: 135%;
}

html {
  padding: 2em;
  font-family: "8bitoperator JVE Regular", Menlo, monospace;
  overflow-x: hidden;
  display: table;
  margin: auto;
}

body {
  background-color: black;
  color: white;
  font-size: 1.2em;
  width: 60ch;
  vertical-align: middle;
  display: table-cell;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: text;
  -webkit-user-select: text;
  hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
}

.katex, .katex .mathnormal, .katex .mathrm, .katex .custom-Regular, .katex .amsrm {
  font-size: inherit;
  font-family: inherit;
}

.space {
  height: 1.36em;
}

a {
  color: blue;
}

ul {
  list-style-type: square;
}

#title {
  text-align: center;
}

#noscript {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  line-height: 100vh;
}

math {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

::-moz-selection {
  color: white;
  background: blue;
}

::selection {
  color: white;
  background: blue;
}

body::-webkit-scrollbar {
  display: none;
}
